{% set menus = menu_service.findAll() %}
{% set options = option_service.findAll() %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Tiny thoughts - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="assets/css/style.css" media="screen">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            {% block header %}
                {{ include('/blocks/header.html.twig') }}
            {% endblock %}
        </header>
        {% block body %}{% endblock %}
        <footer>
            {{  include('blocks/footer.html.twig') }}
        </footer>
    </body>
</html>


{#Old Nav#}
{#        <div class="container">#}
{#            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">#}
{#                <ul class="nav nav-pills">#}
{#                    {% for menu in menus %}#}
{#                        {% if menu.subMenus.count > 0 %}#}
{#                            <div class="dropdown">#}
{#                                <a class="nav nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                                    {{ menu.name }}#}
{#                                </a>#}
{#                                <ul class="dropdown-menu">#}
{#                                    {% for subMenu in menu.subMenus %}#}
{#                                        <li>#}
{#                                            <a class="dropdown-item" href="{{ subMenu|menuLink }}">{{ subMenu.name }}</a>#}
{#                                        </li>#}
{#                                    {% endfor %}#}
{#                                </ul>#}
{#                            </div>#}
{#                        {% else %}#}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link text-dark" href="{{ menu|menuLink }}">{{ menu.name }}</a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </header>#}
{#        </div>#}